<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mudaxian.dao.DicomstudiesDao">
    <select id="getAll" resultType="Dicomstudies">
        select *
        from oracle_pacs.dicomstudies;
    </select>

    <select id="getStudiesByPid" parameterType="String" resultType="Dicomstudies">
        select *
        from oracle_pacs.dicomstudies where patientid = #{patientid};
    </select>

    <select id="getStudiesByPidAndAccno" parameterType="String" resultType="Dicomstudies">
        select *
        from oracle_pacs.dicomstudies where patientid = #{patientid} and accessionnumber = #{accessionnumber};
    </select>

    <delete id="deleteStudieBypid" parameterType="String" >
        delete
        from oracle_pacs.dicomstudies where patientid = #{patientid};
    </delete>
</mapper>